:root
{
    --spacing: .25rem;
    --spacing-xs: calc(var(--spacing) - 4px);
    --spacing-sm: calc(var(--spacing) - 2px);
    --spacing-md: var(--spacing);
    --spacing-lg: calc(var(--spacing) + 2px);
    --spacing-xl: calc(var(--spacing) + 4px);

    --font: 16px;
    --font-xs: .75rem;
    --font-sm: .875rem;
    --font-md: 1rem;
    --font-lg: 1.125rem;
    --font-xl: 1.5rem;
    --font-2xl: 2rem;
    --font-3xl: 3rem;
    --font-4xl: 4rem;

    --container-xs: 20rem;
    --container-sm: 24rem;
    --container-md: 28rem;
    --container-lg: 32rem;
    --container-xl: 36rem;
    --container-2xl: 42rem;
    --container-3xl: 48rem;
    --container-4xl: 56rem;

    --radius: .5rem;
    --radius-xs: calc(var(--radius) - 4px);
    --radius-sm: calc(var(--radius) - 2px);
    --radius-md: var(--radius);
    --radius-lg: calc(var(--radius) + 2px);
    --radius-xl: calc(var(--radius) + 4px);

    --background: oklch(14.5% 0 0);
    --foreground: oklch(98.5% 0 0);
    --primary: oklch(92.2% 0 0);
    --secondary: oklch(26.9% 0 0);
    --muted: oklch(26.9% 0 0);
    --accent: oklch(37.1% 0 0);
    /* --primary-foreground: oklch(20.5% 0 0); */
    /* --secondary-foreground: oklch(98.5% 0 0); */
    /* --muted-foreground: oklch(70.8% 0 0); */
    /* --accent-foreground: oklch(98.5% 0 0); */
    --border: oklch(100% 0 0 / .1);
}

.bg-background { background-color: var(--background); }
.bg-foreground { background-color: var(--foreground); }
.bg-primary { background-color: var(--primary); }
.bg-secondary { background-color: var(--secondary); }
.bg-muted { background-color: var(--muted); }
.bg-accent { background-color: var(--accent); }

.text-background { color: var(--background); }
.text-foreground { color: var(--foreground); }
.text-primary { color: var(--primary); }
.text-secondary { color: var(--secondary); }
.text-muted { color: var(--muted); }
.text-accent { color: var(--accent); }