.flex { display: flex; }
.flex-col { flex-direction: column; }
.flex-row { flex-direction: row; }
.justify-sb { justify-content: space-between; }
.justify-ar { justify-content: space-around; }
.justify-ev { justify-content: space-evenly; }
.items-center { align-items: center;}
.text-center { text-align: center;}

.sticky { position: sticky; }
.static { position: static; }
.absolute { position: absolute; }
.fixed { position: fixed; }
.relative { position: relative; }

.w-auto { width: auto; }
.w-full { width: 100%; }
.w-fit { width: fit-content; }

.h-auto { height: auto; }
.h-full { height: 100%; }
.h-fit { height: fit-content; }
